.container {
  display: inline-block;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  min-height: 50vh;
  max-height: fit-content;
  position: relative;
  top: 30px;
  left: 2%;
  margin: 0 auto;
  margin-bottom: 10%;
  /* border: 1px solid red; */
}

.storycontainer {
  width: 18%;
  height: 300px;
  z-index: 0;
  position: relative;
  top: -10%;
  border-radius: 12px;
  margin: 2%;
}

.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.NoMoreStories {
  position: relative;
  top: 70%;
  text-align: center;
  margin: 0 auto;
  color: grey;
}
.wrappered {
  display: block;
  position: relative;
  position: relative;
  top: 67%;
  width: 100%;
  height: 30%;
  background: linear-gradient(grey, black);
  color: whitesmoke;
  z-index: 3;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.heading {
  width: 80%;
  position: relative;
  left: 10px;
  font-size: large;
  z-index: 1;
}

.decsription {
  width: 80%;
  position: relative;
  left: 10px;
  z-index: 1;
  word-wrap: break-word;
}

.seeMoreBtn {
  position: relative;
  top: 5px;
  left: 42.5%;
  margin: 0 auto;
  width: 10%;
  top: 2px;
  height: 40px;
  border-radius: 10px;
  background-color: #ff7373;
  color: #ffffff;
  border: none;
  font-family: DM Sans;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.yourStoryHeading {
  font-size: 1.5rem;
  color: black;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 7%;
  font-weight: 800;
}

/* Semore button in your story */

.editBtn {
  display: block;
  width: 30%;
  height: 25px;
  position: relative;
  top: 67%;
  margin: 0 auto;
  z-index: 4;
  border-radius: 10px;
  border: none;
  border: 1px solid red;
}

@media only screen and (max-width: 600px) {
  .container {
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    min-height: 50vh;
    max-height: fit-content;
    position: relative;
    top: 30px;
    left: 7%;
    margin: 0 auto;
    margin-bottom: 10%;
    /* border: 1px solid red; */
  }

  .heading {
    width: 80%;
    position: relative;
    font-size: x-large;
    z-index: 1;
  }

  .decsription {
    width: 80%;
    position: relative;
    top: -20px;
    font-size: 1rem;
    left: 10px;
    z-index: 1;
    word-wrap: break-word;
    text-overflow: scroll;
  }

  .wrappered {
    display: block;
    position: relative;
    position: relative;
    top: 64.5%;
    width: 100%;
  }

  .editBtn {
    display: block;
    width: 30%;
    height: 25px;
    position: relative;
    top: 60%;
    margin: 0 auto;
    z-index: 4;
    border-radius: 10px;
    border: none;
    border: 1px solid red;
  }

  .yourStoryHeading {
    font-size: 1.5rem;
    color: black;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 10%;
    font-weight: 800;
  }

  .NoMoreStories {
    position: relative;
    top: 0;
    text-align: center;
    margin: 0 auto;
    color: grey;
    margin-top: 10px;
    margin-bottom: 10%;
  }

  /* .seeMoreBtn {
    position: relative;
    top: 5px;
    left: 42.5%;
    margin: 0 auto;
    width: 10%;
    top: 2px;
    height: 40px;
    border-radius: 10px;
    background-color: #ff7373;
    color: #ffffff;
    border: none;
    font-family: DM Sans;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    padding: 10px;
  } */
}
